@import '../../definitions.scss';

.model {
  align-items: center;
  margin-bottom: 0.5rem;
}

.assumption {
  font-weight: bold;
}

.parameter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;
  font-family: $labelFontFamily;
  line-height: 1.1;
}

.dropdown {
  width: 260px;

  :global {
    .Select-value-label {
      font-weight: bold;
    }

    .Select-value-icon + .Select-value-label {
      font-weight: normal;
    }
  }
}
