@import '../../definitions.scss';

.chart {
  overflow: visible !important;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 243px;
  font-weight: 200;
  font-family: $labelFontFamily;
  color: $color-gray;
}
