@import '../../definitions.scss';

.data-selectors {
  padding-top: 1.5 * $default-margin;
}

.spinner {
  margin-top: 40px;
}

.error {
  margin-top: 40px;
  text-align: center;
}

.map {
  position: relative;
}

.year-label {
  position: absolute;
  right: 200px;
}
