@import '../../definitions.scss';

.assumption {
  font-weight: bold;
}

.selectors {
  padding-top: $default-margin;
}

.filters {
  margin-bottom: $default-margin;
}

.line-chart {
  min-height: 335px;
}

.error {
  margin-top: 40px;
  text-align: center;
}
