@import '../../definitions.scss';

.title-row {
  margin-bottom: $default-margin/2;
}

.filters {
  margin-bottom: $default-margin;
}

.line-chart {
  min-height: 335px;
}

.error {
  margin-top: 40px;
  text-align: center;
}
