@import '../../definitions.scss';

svg.chart {
  overflow: visible;
}

.hide {
  display: none;
}

.range-labels {
  font-size: 0.8rem;
}

.background {
  fill: transparent;
}

.axis {
  font: 0.65rem sans-serif;
  overflow-y: hidden;

  /* render tick marks */
  line {
    display: none;
  }

  /* do not render axis */
  path {
    fill: none;
    stroke: lighten(#000, 80);
  }
}

.selection-background {
  fill: #eee;

  &.locked {
    stroke: darkgray;
    stroke-width: 2px;
  }
}

.selection-label {
  font-family: sans-serif;
  font-size: 12px;
  color: black;
  text-shadow: -1px 1px 0 white, 1px 1px 0 white;
}

.hover-area {
  fill: none;
  pointer-events: all;
}
