@import '../../definitions.scss';

svg.chart {
  overflow: visible;
}

.hide {
  display: none;
}

.range-labels {
  font-size: 0.8rem;
}

.background {
  fill: transparent;
}

.axis {
  font: 0.65rem sans-serif;

  /* render tick marks */
  line {
    fill: none;
    stroke: $color-darker-gray;
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }

  /* do not render axis */
  path {
    fill: none;
    stroke: lighten(#000, 80);
  }
}

.tick {
  text {
    font-size: 0.7rem;
  }
}

.selection-background {
  fill: black;
  opacity: 0.1;
}

.bar-group {
  // TODO: Having opacity 0.9 is maybe not the best choice color-wise, but we
  // can't set the color here because it overrides our proper colors
  opacity: 0.9;
  transition: opacity 0.25s;
}

.bar-group:hover {
  opacity: 1;
}
