@import '../../definitions.scss';

.button-group {
  width: 100%;
  display: flex;

  .button {
    flex-basis: 0;
    flex-grow: 1;
    font-weight: 600;
    font-size: 0.85rem;
    text-transform: uppercase;
    line-height: 46px;

    position: relative;
    text-decoration: none;
    display: inline-block;
    border: $border-width solid $color-border;
    border-right: 0;
    cursor: pointer;
    height: 48px;
    padding-left: 48px;
    padding-right: 10px;
    color: $color-text-menu;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: white;

    &:before, &:after {
      content: '';
      position: absolute;
    }

    &:before {
      left: 15px;
      top: 14px;
      height: 20px;
      width: 20px;
      border-radius: 10px;
      background-color: white;
      border: $border-width solid $color-border;
    }

    &:after {
      left: 20px;
      top: 19px;
      height: 10px;
      width: 10px;
      border-radius: 5px;
      background-color: transparent;
    }

    &:hover {
      color: $color-text-hover;
      background-color: $color-selection-active;
    }

    &:hover:after {
      background-color: $color-light-gray;
    }

    &:first-child {
      border-radius: $border-radius 0 0 $border-radius;
    }

    &:last-child {
      border: $border-width solid $color-border;
      border-radius: 0 $border-radius $border-radius 0;
    }

    &.selected {
      color: $color-text-selection;
      background-color: $color-selection;

      &:after {
        background-color: $color-red;
      }

      &:before {
        border-color: $color-red;
        opacity: 0.3;
      }

      &:hover {
        text-decoration: none;
        box-shadow: none;
      }
    }
  }

  &.disabled {
    .button {
      cursor: default;
      color: $color-light-gray;

      &.selected {
        &:after {
          background-color: $color-gray;
        }

        &:before {
          border-color: $color-gray;
        }
      }

      &:not(.selected):hover:after {
        background-color: white;
      }
    }
  }
}
