.x-axis path {
  display: none;
}

.y-axis-label {
  fill: black;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.background-colors {
  opacity: 0.3;
}

.selected-area {
  fill: black;
  fill-opacity: 0.1;
  stroke-width: 0;
}

.selected-label {
  font-size: 12px;
  color: black;
  text-shadow:
    -1px 1px 0 white,
    1px 1px 0 white;
}

.line-label {
  font-size: 10px;
}

.overlay {
  fill: none;
  pointer-events: all;
}
