@import '../definitions';

.root {
  width: 100%;
}

.content {
  @include center-content;
  padding: $default-margin;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
