@import './definitions.scss';

.header {
  margin-bottom: 4px;
  font-family: $labelFontFamily;
}

.slider {
  width: 100%;
  height: 26px;

  // TODO: The below is ugly – the scale colors are duplicated here.
  // Fix it somehow.
  :global {
    .bar-stress,
    .bar-shortage {
      position: relative;
      top: 2px;
      background: #d2e3e5;
      height: 16px;
      border-radius: 8px;
      margin: 0 6px;

      &.bar-stress-1 {
        background: #cbc9e2;
      }

      &.bar-stress-2 {
        background: #9e9ac8;
      }

      &.bar-stress-3 {
        background: #6a51a3;
      }

      &.bar-shortage-0 {
        background: #d7c919;
      }

      &.bar-shortage-1 {
        background: #e6dc4c;
      }

      &.bar-shortage-2 {
        background: #f5f07f;
      }
    }
  }
}

.handle {
  background-color: #aaa;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 2px solid white;

  &.active {
    border: 4px solid white;
  }
}

.labels {
  position: relative;
  font-size: 14px;
  font-family: $labelFontFamily;
  color: $color-darker-gray;
  margin: 0 10px; // The slider controls don't go all the way to the sides
}

.label {
  position: absolute;
  top: -4px;
  transform: translate(-50%);
  padding-left: 2px;
}

.reset {
  position: relative;
}

.reset-link {
  position: absolute;
  right: 5px;
  top: -5px;
  cursor: pointer;
  color: $color-dark-gray;
  font-size: 14px;
  font-weight: lighter;
  font-family: $labelFontFamily;

  &:hover {
    color: $color-darker-gray;
  }
}
