.slider {
  width: 100%;
  height: 42px;
  border: 2px solid #ff7200;
  border-radius: 25px;
}

.handle {
  font-size: 0.9em;
  text-align: center;
  background-color: #ff7200;
  color: yellow;
  cursor: pointer;
  top: 02px;
  width: 34px;
  height: 34px;
  border-radius: 20px;
  border: 2px solid white;

  &.active {
    border: 5px solid white;
  }
}

.bar {
  position: relative;
  background: #ff7200;
  top: 6px;
  height: 26px;
  border-radius: 16px;
  margin: 0 6px;

  &.bar-1 {
    background: #a5a5a5;
  }
}

