@import '../definitions.scss';

.regions-list {
  line-height: 2;
  padding: $default-margin 0;
}

.region {
  font-size: 0.73rem;
  font-family: $labelFontFamily;
  padding: 0.3rem 0.3rem;
  cursor: pointer;
}

.region-name {
  white-space: nowrap;
}
