.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;

  &.x path {
    display: none;
  }
}

.dot {
  stroke: #000;

  &.selected {
    fill: blue;
    stroke-width: 2px;
  }
}

.year-label {
  font: 500 100px "Helvetica Neue";
  fill: #ddd;

  &.active {
    fill: #aaa;
  }
}

.overlay {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}

