.svg {
  overflow: visible !important;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;

  &.x path {
    display: none;
  }
}

.axis-label {
  fill: #807775;
  font-size: 13px;
  font-weight: lighter;
}

.background-colors {
  opacity: 0.5;
}

.dot {
  stroke: #000;
  stroke-opacity: 0.4;
  transition: opacity 100ms;
  fill: #e5dddb;

  &.fade-out {
    opacity: 0.1;
  }
}

.selected-line {
  fill: none;
  stroke: darkcyan;
  stroke-width: 1.5px;
  stroke-dasharray: 3, 2;
}

.selected-series-dot {
  fill: darkcyan;
}

.year-label {
  font: 600 50px 'Open Sans';
  fill: #ddd;

  &.active {
    fill: #aaa;
  }
}

.overlay {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}
