@import '../definitions.scss';

.globe-stroke {
  fill: none;
  stroke: $color-light-gray;
  stroke-width: 3px;
}

.globe-fill {
  fill: white;
}

.graticule {
  fill: none;
  stroke: $color-light-gray;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: $color-light-gray;
}

.boundary {
  fill: none;
  stroke: $color-gray;
  stroke-width: .5px;
}

.water-region {
  stroke: $color-gray;
  stroke-width: 1px;

  &.selected {
    stroke-width: 2px;
    stroke: $color-darker-gray;
  }
}

.legend {
  user-select: none;
}

.legend-caption {
  fill: #000;
  text-anchor: start;
  font-weight: bold;
}
