@import '../definitions.scss';

.map-header {
  margin-top: 0;
}

.globe-fill {
  fill: white;
}

.land {
  fill: $color-lighter-gray;
}

.water-region {
  stroke-width: 0.5px;
  stroke: #ccc;
  transition: opacity 0.2s ease-in;

  &.selected {
    stroke: black;
    transition: opacity 0.2s ease-out;
  }
  &.unselected {
    opacity: 0.5;
    transition: opacity 0.2s ease-out;
  }
}

.selected-region path {
  stroke: $color-dark-gray;
  stroke-width: 0.5px;
  opacity: 0.8;
  fill: none;
}

.legend {
  user-select: none;
}

.legend-caption {
  fill: #000;
  text-anchor: start;
  font-weight: bold;
}
