@import '../definitions.scss';

.map-header {
  margin-top: 0;
}

.globe-fill {
  fill: white;
}

.land {
  fill: $color-lighter-gray;
}

.water-region {
  stroke-width: .5px;
  stroke: #ccc;
  transition: opacity .2s ease-in;

  &.selected {
    stroke: black;
    transition: opacity .2s ease-out;
  }
  &.unselected {
    opacity: 0.5;
    transition: opacity .2s ease-out;
  }
}

.selected-region path {
  stroke-width: 1px;
  stroke: #aaa;
  fill: none;
}

.legend {
  user-select: none;
}

.legend-caption {
  fill: #000;
  text-anchor: start;
  font-weight: bold;
}
