@import '../definitions.scss';

.legend {
  display: flex;
  justify-content: flex-end;
}

.instructions {
  white-space: nowrap;
  font-family: $labelFontFamily;
  font-size: 12px;
  color: $color-text-menu;
  position: relative;
  top: 4px;
}
