@import '../definitions.scss';

.heading {
  margin-top: 0px;
  margin-bottom: 5px;
}

.description {
  font-size: 0.8rem;
  font-family: $labelFontFamily;
  color: #666666;
  margin: 0 0 10px 1px;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  font-weight: 200;
  font-family: $labelFontFamily;
  color: $color-gray;
}
