@import '../definitions.scss';

.description {
  font-size: 0.8rem;
  color: #666666;
  margin: 5px 0 10px 1px;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  font-weight: 200;
  color: $color-gray;
}
